$primary : #369de2;

@import "../../node_modules/vuetify/dist/vuetify.css";

#main-content-wrap {
  margin: 20px auto;
}

.home {
  margin: 0 auto;
  text-align: center;

  h1 {
    margin-top:58px;
    color: #fff;
    font-size:58px;
  }

  p {
    width:45%;
    margin:0 auto;
    color: #37ccbe;
    font-family: 'Quicksand';
  }

  .btn {
    margin-top:20px;
  }
}
.subheader-wrap {
  font-family: 'Quicksand';
}
.application--light {
  background: linear-gradient(175deg, #009688 50%, white 50%);
}
.card {
  .active {
    border:5px solid $primary;
  }
}
.application--light .chip {
  background: #efefef;
  color: rgba(0,0,0,.87);
}

.edit-template .element-container {

}

.edit-template-edit {
  background: rgba(255,255,255,0.9);
  border-radius: 5px;
  border: 1px solid #888888;
  padding:40px;

  .row {
    overflow: hidden;
    padding: 0 0 1em;
    border-bottom: 1px solid #ddd;
    margin: 0 0 1em;
    margin-left: 40px;
    width: 100%;
  }
}

#edit-template-preview.default-theme {
  background:#2694cf;
  color: #fff;

  .template-header {
    color: #fff;
    background-color: #241a25;
    background-image: linear-gradient(12deg, transparent 34%, transparent 39%), linear-gradient(-35deg, #2694cf 30%, transparent 30%);
    padding: 40px 0px 40px 0px;
  }

  p {
    padding: 32px;
    color: white;
    line-height: 31px;
    font-family: quicksand;
  }

  h1 {
    font-size: 48px;
    text-align: left;
    font-weight:bold;
    padding-left:28px;
  }
}