<v-tabs-content :id="'tab1'">
    <v-card flat>
        <v-card-text>
            <v-layout column>
                <v-flex xs12 sm12>
                    <v-container fluid grid-list-md class="grey lighten-4">
                        <v-layout row wrap>
                            <v-flex xs12>
                                <div class="subheader-wrap" >
                                    <h4>Select a template</h4>
                                    <p>Choose one of the pre-defined templates below or create your own.</p>
                                </div>
                            </v-flex>
                            <v-flex xs3>
                                <v-card v-for="template in templates"
                                        :key="template.id"
                                        v-bind:class="{ active : isActive(template.id) }">
                                    <div @click="select(template.id)" >
                                        <v-card-media src="/assets/img/layout.jpg"
                                                      height="300px">
                                        </v-card-media>

                                        <v-card-title>
                                            <div>
                                                <h6>{{template.title}}</h6>
                                                <p>{{template.description}}</p>

                                                <b>Fields:</b>
                                                <div class="text-xs">
                                                    <v-tooltip  v-for="block in template.blocks" :key="block.id" top >
                                                        <v-chip slot="activator">
                                                            <v-avatar class="teal"><v-icon>{{block.icon}}</v-icon></v-avatar>
                                                            {{block.title}}
                                                        </v-chip>
                                                        <span>{{block.description}}</span>
                                                    </v-tooltip>
                                                </div>
                                            </div>
                                        </v-card-title>

                                        <v-card-actions class="white">
                                            <v-spacer></v-spacer>
                                            <v-btn icon>
                                                <v-icon>favorite</v-icon>
                                            </v-btn>
                                            <v-btn icon>
                                                <v-icon>bookmark</v-icon>
                                            </v-btn>
                                            <v-btn icon>
                                                <v-icon>share</v-icon>
                                            </v-btn>
                                        </v-card-actions>
                                    </div>
                                </v-card>
                            </v-flex>
                        </v-layout>
                    </v-container>
                </v-flex>
            </v-layout>


        </v-card-text>
    </v-card>
</v-tabs-content>
