<v-tabs-content :id="'tab3'">
    <v-card flat>
        <v-card-text>
            <v-layout column>
                <v-flex xs12 sm12>
                    <v-container fluid grid-list-md class="grey lighten-4">
                        <v-layout row >
                            <v-flex xs12>
                                <div class="subheader-wrap">
                                    <h4>Almost there now!</h4>
                                    <p>Let's quickly add some content to your template and we're good-to-go.</p>
                                </div>
                            </v-flex>
                        </v-layout>

                        <v-template-editor :template="template">

                        </v-template-editor>
                    </v-container>
                </v-flex>
            </v-layout>
        </v-card-text>
    </v-card>
</v-tabs-content>
