<v-layout class="edit-template" v-if="template">
    <v-flex id="edit-template-left" xs6>

        <div class="edit-template-edit">
            <v-form>
                <v-layout row v-for="row in template.rows">
                    <v-flex v-bind="getBlockClass(row)" v-for="block in row" :key="block.id">
                        <v-edit-renderer :block="block"></v-edit-renderer>
                    </v-flex>
                </v-layout>
            </v-form>

        </div>

    </v-flex>

    <v-template-view :template="template"></v-template-view>

</v-layout>